.super-mario {
  width: 200px;
  position: relative;
  right: -100px;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  top: 40px;
  left: 30px;
}

.speach {
  font-size: 25px;
  position: relative;
  top: -310px;
  z-index: 100;
  left: 45px;
}

.bowser {
  width: 200px;
}